# Docker-compose file is used only for local development. This is not production-ready example.

version: '3.8'

volumes:
  mysql-data:
    driver: local
  tmp-data:
    driver: local
  redis-data:
    driver: local
  rabbit-data:
    driver: local

services:
  app: &app
    build:
      context: .
      dockerfile: Dockerfile
    user: "${APP_UID:-10001}:${APP_GID:-10001}"
    networks:
      - katawa-suite
    env_file:
      - .env
    environment:
      PS1: '\[\033[1;32m\]\[\033[1;36m\][\u@\h] \[\033[1;34m\]\w\[\033[0;35m\] \[\033[1;36m\]# \[\033[0m\]'
      HOME: /tmp
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - tmp-data:/tmp:rw
      - .:/app:rw
      - ./docker/supercronic/laravel:/etc/supercronic/laravel
    depends_on:
      mysql: {condition: service_healthy}
      redis: {condition: service_healthy}
      nginx-proxy: {condition: service_started}
      phpmyadmin: {condition: service_started}
      rabbitmq: {condition: service_started}

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: katawa-suite-nginx-proxy
    networks:
      - katawa-suite
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/htpasswd:/etc/nginx/htpasswd
      - ./docker/nginx/certs:/etc/nginx/certs
      - /var/run/docker.sock:/tmp/docker.sock:ro

  web:
    <<: *app
    command: rr serve -c .rr.local.yaml
    expose:
      - 8080
    environment:
      - VIRTUAL_HOST=${WEB_VIRTUAL_HOST},${HORIZON_DOMAIN},${TELESCOPE_DOMAIN}
    healthcheck:
      test: ['CMD-SHELL', 'wget --spider -q "http://127.0.0.1:8082/health?plugin=http&plugin=rpc"']
      interval: 2s
      timeout: 2s

  queue:
    <<: *app
    command: php /app/artisan queue:work --memory=256 --sleep=1

  cron:
    <<: *app
    command: supercronic /etc/supercronic/laravel # it runs artisan schedule:run

  horizon:
    <<: *app
    command: php /app/artisan horizon

  mysql:
    image: 'mysql/mysql-server:8.0'
    ports:
      - '3306:3306'
    container_name: katawa-suite-mysql
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - 'mysql-data:/var/lib/mysql'
    networks:
      - katawa-suite
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}" ]
      retries: 3
      timeout: 5s

  phpmyadmin:
    build: ./docker/phpmyadmin
    container_name: katawa-suite-phpmyadmin
    expose:
      - 80
    environment:
      - PMA_ARBITRARY=1
      - MYSQL_USER=${PMA_USER}
      - MYSQL_PASSWORD=${PMA_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${PMA_ROOT_PASSWORD}
      - MAX_EXECUTION_TIME=${PMA_MAX_EXECUTION_TIME}
      - MEMORY_LIMIT=${PMA_MEMORY_LIMIT}
      - UPLOAD_LIMIT=${PMA_UPLOAD_LIMIT}
      - VIRTUAL_HOST=${PMA_VIRTUAL_HOST}
    depends_on:
      - mysql
    networks:
      - katawa-suite

  redis:
    image: redis:7-alpine # Image page: <https://hub.docker.com/_/redis>
    container_name: katawa-suite-redis
    command: redis-server --requirepass $${REDIS_PASSWORD}
    networks:
      - katawa-suite
    volumes:
      - redis-data:/data:rw
    healthcheck:
      test: [ 'CMD', 'redis-cli', 'ping' ]
      interval: 500ms
      timeout: 1s

  rabbitmq:
    build: ./docker/rabbitmq
    container_name: katawa-suite-rabbitmq
    environment:
      - VIRTUAL_HOST=${RABBITMQ_VIRTUAL_HOST}
      - VIRTUAL_PORT=${RABBITMQ_MANAGEMENT_HTTP_HOST_PORT}
    ports:
      - "${RABBITMQ_NODE_HOST_PORT}:5672"
      - "${RABBITMQ_MANAGEMENT_HTTP_HOST_PORT}:15672"
    privileged: true
    volumes:
      - rabbit-data:/var/lib/rabbitmq
      - ./docker/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - ./docker/rabbitmq/management_agent.disable_metrics_collector.conf:/etc/rabbitmq/conf.d/management_agent.disable_metrics_collector.conf
    networks:
      - katawa-suite

networks:
  katawa-suite:
    driver: bridge
