includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 5
  excludePaths:
    - app/Admin/*
    - Modules/*/Tests/*
  paths:
    - app
    - database
    - routes
    - Modules

  ignoreErrors:
    - message: '#\$this#'
      path: %currentWorkingDirectory%/routes/console.php

  checkGenericClassInNonGenericObjectType: false
